@model ReporteTransaccionesDetalladas

@{
    ViewData["Title"] = "Movimientos cuenta";
}

<h1>Movimientos @ViewBag.Cuenta</h1>
<a asp-action="Index" class="btn btn-primary mb-3">Volver</a>

<partial name="_ReporteTransaccionesDetalladas" model="Model" />